{% extends 'base.html' %}

{% block content %}
<a href="/delete-entry/{{cv['CV_id']}}"> delete entry</a>


<div class = "container text-center">
    <h1>Portfolio {{cv['CV_id']}}</h1>
</div>
<div class = "container text-right">
    <a href="/"> Back</a>
</div>
<hr>

<body>
 <center><h3>User's photo</h3><img src= "{{ user_image }}" alt="Mike" height="240px" width="300px"></center>
<h6>
    <a href="/edit-photo/{{cv['CV_id']}}"> add(edit) Photo</a>
</h6>
</body>


<hr>
<h3>General information</h3><a href="/edit-general/{{cv['CV_id']}}"> edit general information</a>

<table>
  <tr>
    <td><h2>Name: </h2></td>
    <td>{{cv['FirstLastName'] | safe}}</td>
  </tr>
  <tr>
    <td><h2>Age: </h2></td>
    <td>{{cv['age'] | safe}}</td>
  </tr>
    <tr>
    <td><h2>Email: </h2></td>
    <td>{{cv['email'] | safe}}</td>
  </tr>
    <tr>
    <td><h2>Phone number: </h2></td>
    <td>{{cv['Tel'] | safe}}</td>
  </tr>
</table>
<hr>
<h3>Detailed information</h3><a href="/edit-details/{{cv['CV_id']}}"> edit detailed information</a>

<table>
  <tr>
    <td><h2>Education:</h2></td>
    <td>{{cv['Education'] | safe}}</td>
  </tr>
  <tr>
    <td><h2>Experience: </h2></td>
    <td>{{cv['Experience'] | safe}}</td>
  </tr>
    <tr>
    <td><h2>Skills: </h2></td>
    <td>{{cv['Skills'] | safe}}</td>
  </tr>
    <tr>
    <td><h2>Additional information: </h2></td>
    <td>{{cv['Additional_information'] | safe}}</td>
  </tr>
</table>


{% endblock %}